.weather-box {
  // background:  linear-gradient(to top left, #8dddff, #90ffbc);
  background:  linear-gradient(to top left, #0186cd, #00c771);
  color: white;
}

.search-history-box {
  background:  linear-gradient(to top left, #0186cd, #00c771);
  color: white;
}

.search-hist-text {
  color: white;
}
